body {
    color: aliceblue;
    background-color: #210307d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    font-size: 16px;
    color: #041849;
    background-color: #3df7004f;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

.passo img {
    height: auto;
    max-width: 300px;
}

